<div cdkDropList [cdkDropListData]="lists" class="container" (cdkDropListDropped)="drop($event)">
    <div class="task-box" *ngFor="let name of lists; let i = index" cdkDrag>   
        <div class="border-box">
        <div class="title-box">
            <span>{{name.title}} - {{name.id}}</span>
            <div cdkDropList [cdkDropListData]="tasks" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of tasks" cdkDrag>
                    <div class="item-box" *ngIf="item.listId == name.id">
                        {{item.title}}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>